.header {
	border-bottom:2px solid;
}

.header .titleContainer {
	text-align:center;
	font-size:24px;
	padding-top:14px;
}

.header .searchContainer {
	text-align:center;
	padding:15px;
}

.resultsContainer {
	text-align:center;
}

#appTitle:hover {
	cursor: pointer;;
}

#gifSearch {
	width: 250px;
}

#gifWindow {
	margin:0 auto;
	padding:10px 125px 0;
	overflow-y:scroll;
}

#gifWindow .loadMoreContainer {
	padding: 20px;
}

.card {
	display:inline-block !important;
	margin:10px!important;
	min-height: 90px!important;
}

.card .circle.icon {
	position:absolute;
	top:5px;
	right:0px;
	font-size:18px;
	color:white;
}

.modal .header {
	font-size: 16px!important;
}

.modal .header .userName {
	float:right;
}

.modal .detailTitle {
	font-weight: 700;
}

.modal .content {
	height:250px;
	padding-left:65px!important;
	padding-right:65px!important;
	overflow-y:scroll;
}

.modal .content .image {
	float:left;
}

.modal .content img {
	max-width: 450px
}

.modal .content .details {
	float:right;
	line-height:30px;
}

.modal .content a {
    width: 215px!important;
    display: inline-block;
    overflow-x: hidden;
    top: 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#copyShort {
	font-size: 11px;
	padding: 8px 6px;
}

.modal .copy {
	position: relative;
	left: 3px;
}