.card {
	display:inline-block !important;
	margin:10px!important;
	min-height: 90px!important;
}

.card .circle.icon {
	position:absolute;
	top:5px;
	right:0px;
	font-size:20px;
	color:white;
}

.card .star.icon {
	position:absolute;
	top:5px;
	left:4px;
	font-size:19px;
	color:white;
}

.card .star:hover {
	color:yellow;
}

.card .icon:hover {
	cursor: pointer;
}