.header {
	border-bottom:2px solid #1b6cff;
	background-color: black;
}

.header .titleContainer {
	text-align:center;
	font-size:24px;
	padding-top:14px;
}

.header .searchContainer {
	text-align:center;
	padding:15px;
}

.resultsContainer {
	text-align:center;
}

.noResults {
	padding-top: 75px;
}

#appTitle {
	color:white;
}

#appTitle:hover {
	cursor: pointer;;
}