.modal .header {
	font-size: 16px!important;
}

.modal .header .userName {
	float:right;
}

.modal .detailTitle {
	font-weight: 700;
}

.modal .content {
	height:250px;
	padding-left:40px!important;
	padding-right:40px!important;
	overflow-y:scroll;
}

.modal .content .image {
	float:left;
	width:48%;
	text-align: center;
}

.modal .content .details {
	float:right;
	line-height:36px;
	font-size: 12px;
	width:50%;
}

.modal .actions {
	padding: 1rem 1.5rem!important;
}

.modal .actions .arrowContainer {
	float:left;
}

.modal .actions .arrowContainer .chevron {
	margin:0!important;
}

#copyShort, #copyEmbed {
	font-size: 11px;
	padding: 8px 6px;
}

.modal .copy {
	position: relative;
	left: 3px;
}

#source {
	color:#2d7aff;
}

#source:hover {
	cursor:pointer;
}

.modal .starContainer {
	display: inline;
	font-size: 20px;
	float: right;
}

.modal .starContainer .star:hover,
.modal .starContainer .star:not(.empty) {
	color:#c7c730;
}

.modal .starContainer .icon:hover {
	cursor: pointer;
}