<template name='gifModal'>
	<div class="ui modal">
		<div class="header">
			{{gifTitle}}
			{{#with data.user}}
				<div class='userName'>{{display_name}}</div>
			{{/with}}
		</div>
		<div class='content'>
			<div class='image'>
				<img src='{{data.images.fixed_height.gif_url}}' style='max-width:100%;'>
			</div>
			<div class='details'>
				<div class='uploaded'>
					<span class='detailTitle'>Uploaded: </span>
					{{uploaded}}
					{{#if showHeartButton}}
						<div class='starContainer'>
							<i class='{{starClass}} star icon'></i>
						</div>
					{{/if}}
				</div>
				<div class='rating'>
					<span class='detailTitle'>Rating: </span>
					<span style='text-transform:uppercase;'>{{rating}}</span>
				</div>
				<div class='url'>
					<span class='detailTitle'>Embed URL: </span> 
					<span id='embedUrl'>{{embedUrl}}</span>
					<div class='tiny ui button' id='copyEmbed' data-content='Copied!'>
						<i class='copy icon'></i>
					</div>
				</div>
				<div class='url'>
					<span class='detailTitle'>Giphy URL: </span> 
					<span id='shortUrl'>{{shortUrl}}</span>
					<div class='tiny ui button' id='copyShort' data-content='Copied!'>
						<i class='copy icon'></i>
					</div>
				</div>
				{{#if source}}
					<div class='url' style='max-width:400px;white-space:nowrap;overflow-x:hidden;text-overflow:ellipsis;'>
						<span class='detailTitle'>Source: </span> 
						<span id='source'>{{source}}</span>
					</div>
				{{/if}}
			</div>
		</div>
		<div class="actions">
			<div class='arrowContainer'>
				<div class='tiny ui button' id='leftNav'><i class='chevron left icon'></i></div>
				<div class='tiny ui button' id='rightNav'><i class='chevron right icon'></i></div>
			</div>
			<div class="ui black deny button">
				Close
			</div>
		</div>
	</div>
</template>