.modal .header {
	font-size: 16px!important;
}

.modal .header .userName {
	float:right;
}

.modal .detailTitle {
	font-weight: 700;
}

.modal .content {
	height:250px;
	padding-left:45px!important;
	padding-right:45px!important;
	overflow-y:scroll;
}

.modal .content .image {
	float:left;
}

.modal .content .details {
	float:right;
	line-height:40px;
	font-size: 12px;
}

.modal .content a {
    width: 300px!important;
    display: inline-block;
    overflow-x: hidden;
    top: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal .actions {
	padding: 1rem 1.5rem!important;
}

.modal .actions .arrowContainer {
	float:left;
}

.modal .actions .arrowContainer .chevron {
	margin:0!important;
}

#copyShort, #copyEmbed {
	font-size: 11px;
	padding: 8px 6px;
}

.modal .copy {
	position: relative;
	left: 3px;
}